html { 
  background-image: url(assets/images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 
.primary-text{
  color:#519872;
}
.primary-background{
  background-color:#519872;
}
.secondary-text{
  color:#ffffff;
}
.secondary-background{
  background-color:#ffffff;
}
header {
  border-bottom: 1px solid black;
  padding: 10px;
}
header ul {
 list-style-type: none;
 padding: 0; 
}
header ul li {
  display: inline-block;
  margin: 10px 0;
}
header ul li a {
  text-decoration: none;
  padding-right: 10px;
  color:#ffffff;
}
.links {
  float: right;
}
.text-center {
  text-align: center;
}
.button {
  text-decoration: none;
  padding: 10px;
  color:#ffffff;
}
footer {
  height: 400px;
}
.austin {
  float: left;
  padding: 100px;
  padding-left: 250px;
  text-align: center;
  margin: auto; 
}
.sanfran {
  float: right;
  padding: 100px;
  padding-right: 250px;
  text-align: center;
  margin: auto; 
  border-left: 1px solid white;
}
span {
  text-align: center;
}
.icon {
  padding-top: 20px;
  clear: both;
  text-align: center;
  border-top: 1px solid white;
}