body {
  font-family: sans-serif;
}
.primary-text{
  color:#519872;
}
.primary-background{
  background-color:#519872;
}
.secondary-text{
  color:#ffffff;
}
.secondary-background{
  background-color:#ffffff;
}
header {
  border-bottom: 1px solid black;
  padding: 10px;
}
header ul {
 list-style-type: none;
 padding: 0; 
}
header ul li {
  display: inline-block;
  margin: 10px 0;
}
header ul li a {
  text-decoration: none;
  padding-right: 10px;
  color:#ffffff;
}
.links {
  float: right;
}
.text-center {
  text-align: center;
}
.button {
  text-decoration: none;
  padding: 10px;
  background-color:#ffffff;
  color: #519872;
}
.inline {
  display:inline-block;
  padding: 50px;
}
footer {
  height: 410px;
}
.austin {
  float: left;
  padding: 20px;
  padding-left: 350px;
  text-align: center;
  margin: auto; 
}
.sanfran {
  float: left;
  padding: 20px;
  padding-right: 30px;
  text-align: center; 
  border-left: 1px solid white;
}
span {
  text-align: center;
}
.icon {
  clear: both;

  }
